Assets/DialogText/DialogSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="graph">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="edge" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="flags_req" type="xs:string"/>
                        <xs:element name="flag_values_req" type="xs:string"/>
                        <xs:element name="line_body" type="xs:string"/>
                        <xs:element name="speaker_name" type="xs:string"/>
                        <xs:element name="portrait" type="xs:string"/>
                        <xs:element name="script" type="xs:string"/>
                        <xs:element name="priority" type="xs:integer"/>
                        <xs:element name="flags_set" type="xs:string"/>
                        <xs:element name="flag_values_set" type="xs:integer"/>
                    </xs:sequence>
                    <xs:attribute name="start_id" type="xs:integer"/>
                    <xs:attribute name="dest_id" type="xs:integer"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>